{{#if logged_in}}
    <div class="nav-right">
        <p>Logged in as {{username}}</p>
        <button id="logout-button" class="logout-button"> Log Out </button>   
    </div>
{{/if}}

<script src="js/logout.js"></script>