<div class="circle-container">

  {{#each tasks as |task|}}
  <div class="circle">
    <div class="circle-content" data-id={{task.id}}>{{task.name}}</div>
  </div>
  {{/each}}
    <div class="circle-add">
    <div class="circle-content">
      <span class="circle-plus">+</span>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="js/script.js"></script>